<nav class='left-banner menu-dark menu-items'>
  <ul class="menu-list">
    <h2><img style='width: 30px; margin-right: 10px;'
        src="https://cdn.iconscout.com/icon/free/png-512/typescript-1174965.png" /><a href="/">Home</a></h2>
    <hr>
    <p class="menu-label">Accounting</p>
    <li><a href="/accounts">Accounts</a></li>
    <li><a href="/contacts">Contacts</a></li>
    <li><a href="/invoices">Invoices</a></li>
    <li><a href="/items">Items</a></li>
    <li><a href="/payments">Payments</a></li>
    <hr>
  </ul>
</nav>


<script>
  $(document).ready(function(){
    $(".api-section").click(function(e) {   
      e.target.classList.toggle("checked");
      $('#' + e.target.getAttribute('data-api')).toggleClass("open-nav");
      e.stopPropagation();
    });
  });
</script>